{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Teacher Tutor Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <div>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'course_list' %}">Courses</a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <span class="muted" style="color:#cbd5e1;">{{user.username}}</span>{% comment %}Figure out how to show the user's first name or nickname (if that data logic gets added later){% endcomment %}
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'register' $}">Sign up</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>